<nz-table #table [nzData]="dataSet">
    <thead>
        <tr>
            <th *ngFor="let col of columns">{{ col.header }}</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let data of table.data">
            <td *ngFor="let col of columns">
                <ng-container *ngIf="col.type === 'data'">
                    {{ data[col.field] }}
                </ng-container>

                <ng-container *ngIf="col.type === 'action'">
                    <ng-container *ngFor="let action of col.actions">
                        <a
                            nz-tooltip
                            [nzTooltipTitle]="action.tooltipTitle"
                            nzTooltipPlacement="top"
                            ><span
                                nz-icon
                                [nzType]="action.icon"
                                nzTheme="outline"
                            ></span
                        ></a>
                        <nz-divider nzType="vertical"></nz-divider>
                    </ng-container>
                </ng-container>
            </td>
        </tr>
    </tbody>
</nz-table>
