<nz-divider nzOrientation="left" />
<form nz-form nzLayout="vertical" [formGroup]="addressForm">
	<div nz-row [nzGutter]="{ xs: 8, sm: 16, md: 24, lg: 32 }">
		<div nz-col class="gutter-row" [nzSpan]="6">
			<nz-form-item>
				<nz-form-label>ID</nz-form-label>
				<nz-form-control>
					<input
						nz-input
						type="number"
						formControlName="id"
						[nzSize]="'large'" />
				</nz-form-control>
			</nz-form-item>
		</div>

		<div nz-col class="gutter-row" [nzSpan]="6">
			<nz-form-item>
				<nz-form-label>Street</nz-form-label>
				<nz-form-control>
					<input nz-input formControlName="street" [nzSize]="'large'" />
				</nz-form-control>
			</nz-form-item>
		</div>

		<div nz-col class="gutter-row" [nzSpan]="6">
			<nz-form-item>
				<nz-form-label>Street Number</nz-form-label>
				<nz-form-control>
					<input nz-input formControlName="streetNumber" [nzSize]="'large'" />
				</nz-form-control>
			</nz-form-item>
		</div>

		<div nz-col class="gutter-row" [nzSpan]="6">
			<nz-form-item>
				<nz-form-label>Zip Code</nz-form-label>
				<nz-form-control>
					<input nz-input formControlName="zipcode" [nzSize]="'large'" />
				</nz-form-control>
			</nz-form-item>
		</div>
	</div>

	<nz-divider nzType="vertical" />
	<div nz-row [nzGutter]="{ xs: 8, sm: 16, md: 24, lg: 32 }">
		<div nz-col class="gutter-row" [nzSpan]="8">
			<nz-form-item>
				<nz-form-label>City</nz-form-label>
				<nz-form-control>
					<input nz-input formControlName="city" [nzSize]="'large'" />
				</nz-form-control>
			</nz-form-item>
		</div>

		<div nz-col class="gutter-row" [nzSpan]="8">
			<nz-form-item>
				<nz-form-label>State</nz-form-label>
				<nz-form-control>
					<input nz-input formControlName="state" [nzSize]="'large'" />
				</nz-form-control>
			</nz-form-item>
		</div>

		<div nz-col class="gutter-row" [nzSpan]="8">
			<nz-form-item>
				<nz-form-label>State Shortname</nz-form-label>
				<nz-form-control>
					<input nz-input formControlName="stateShortname" [nzSize]="'large'" />
				</nz-form-control>
			</nz-form-item>
		</div>
	</div>
</form>
<nz-divider />
<app-table
	[title]="'Persons'"
	[dataSet]="data"
	[columns]="columns"
	[frontPagination]="false"
	[bordered]="true"
	[outerBordered]="true"></app-table>
